.button-back {
  width: 325px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 17px 20px 19px;
  border: 1px solid #9dd458;
  border-radius: 18px;
  background: #9dd458;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.button-back:hover {
  scale: 1.1;
}